body{
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url("./asset/bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
}

.glass-login-form{
    width: 450px;
    height: 550px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    background: rgba(255,255,255,0.1);
    overflow: hidden; 
}

form{
    display: flex;
    box-sizing: border-box;
    padding: 10px 55px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 15px;
}

.input-group{
    display: flex;
    flex-direction: column;
}

.input-group label{
    margin-bottom: 5px;
    font-size: 15px;
}

.input-group input {
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 8px;
    color: rgb(29, 146, 255);
    font-size: 16px;
}

small{
    align-self: flex-start;
    cursor: pointer;
    font-size: 12px;
}

small a:hover{
    color: rgb(255, 50, 23);
}

form #sign-in{
    padding: 10px;
    background: rgb(24, 19, 88);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

form #sign-in:hover{
    background-color: white;
    color: rgb(24, 19, 88);
    font-weight: bold;
}

.social-icons{
    display: flex;
    justify-content:center;
    margin: 5px 0px;
}

.social-icons button{
    cursor: pointer;
    padding: 5px 40px 5px 40px;
    margin-left: 8px;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: rgb(24, 19, 88);
    font-size: 15px;
}

.social-icons button:hover{
    background-color: rgb(24, 19, 88);
    color: white;
}

p{
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 12px;
}

a{
    color: white;
    text-decoration: none;
}

p a:hover{
    color: rgb(29, 127, 255);
}

